<!-- sidebar.html -->
<div th:if="${role != 'student'}">
    <aside id="sidebar" class="bg-blue-900 text-white w-64 p-4 fixed h-full transition-transform transform -translate-x-full">
        <ul class="space-y-4">
            <li>
                <a href="#" class="flex items-center p-2 rounded hover:bg-blue-700">
                    <img src="https://via.placeholder.com/24" alt="Dashboard Icon" class="h-6 w-6 mr-2">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded hover:bg-blue-700">
                    <img src="https://via.placeholder.com/24" alt="Equipments Icon" class="h-6 w-6 mr-2">
                    Studio Level
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded hover:bg-blue-700">
                    <img src="https://via.placeholder.com/24" alt="Events Icon" class="h-6 w-6 mr-2">
                    Content Library
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded hover:bg-blue-700">
                    <img src="https://via.placeholder.com/24" alt="TVPSS Info & Crew Icon" class="h-6 w-6 mr-2">
                    TVPSS Version & Crew
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded hover:bg-blue-700">
                    <img src="https://via.placeholder.com/24" alt="School Icon" class="h-6 w-6 mr-2">
                    School
                </a>
            </li>
        </ul>
    </aside>


